@import "tailwindcss";

@theme {
  --color-brand-blue: #003366;
  --color-brand-orange: #FF6600;
  --font-sans: var(--font-inter);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
